<h1>Listing attributes</h1>

<table>
  <tr>
    <th>Attributeid</th>
    <th>Productid</th>
    <th>Attributename</th>
    <th>Attributedescription</th>
    <th>Attributevalue</th>
    <th>Attributevalueunit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attributes.each do |attribute| %>
  <tr>
    <td><%= attribute.AttributeID %></td>
    <td><%= attribute.ProductID %></td>
    <td><%= attribute.AttributeName %></td>
    <td><%= attribute.AttributeDescription %></td>
    <td><%= attribute.AttributeValue %></td>
    <td><%= attribute.AttributeValueUnit %></td>
    <td><%= link_to 'Show', attribute %></td>
    <td><%= link_to 'Edit', edit_attribute_path(attribute) %></td>
    <td><%= link_to 'Destroy', attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attribute', new_attribute_path %>
