<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @user.UserID %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.FirstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.LastName %>
</p>

<p>
  <b>Username:</b>
  <%= @user.Username %>
</p>

<p>
  <b>Address:</b>
  <%= @user.Address %>
</p>

<p>
  <b>City:</b>
  <%= @user.City %>
</p>

<p>
  <b>Postcode:</b>
  <%= @user.Postcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.Phone %>
</p>

<p>
  <b>Email:</b>
  <%= @user.Email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
