<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @credential.UserID %>
</p>

<p>
  <b>Password:</b>
  <%= @credential.Password %>
</p>

<p>
  <b>Roleid:</b>
  <%= @credential.RoleID %>
</p>


<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
