<p id="notice"><%= notice %></p>

<p>
  <b>Productid:</b>
  <%= @product.ProductID %>
</p>

<p>
  <b>Manufacturerid:</b>
  <%= @product.ManufacturerID %>
</p>

<p>
  <b>Name:</b>
  <%= @product.Name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.Description %>
</p>

<p>
  <b>Type:</b>
  <%= @product.Type %>
  
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
